@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">This is a library where you can add, edit, delete books and search by title, ISBN and author.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search for books by title, ISBN, and author.</p>

        <p>
            <a class="input-group"></a>
            <a class="btn btn-primary" href="@Url.Action("Search", "Book")">Start searching</a>
        </p>
    </div>

    <div class="col-md-4 col-md-offset-2">
        <h2>Add</h2>
        <p>Add a new book.</p>

        <p>
            <a class="input-group"></a>
            <a class="btn btn-primary" href="@Url.Action("Create", "Book")">Start adding</a>
        </p>
    </div>

</div>
