@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">This is a library where you can add, edit, delete books and search by title, ISBN and author.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search for books by title, ISBN, and author.</p>

        <p>
            <a class="input-group"></a>
            <a class="btn btn-primary" href="@Url.Action("Search", "Book")">Start searching</a>
        </p>

        @*<p>
            <a class="input-group"></a>
            <a class="btn btn-default" href="@Url.Action("Details", "Book", new { id=1 })">Detail</a>
        </p>*@

        @*<form>
            <div class="form-group">
                <label for="InputTitle">Search by Title</label>
                <input type="text" class="form-control" id="InputTitle" placeholder="Enter book title">
            </div>
            <div class="form-group">
                <label for="InputISBN">Search by ISBN</label>
                <input type="text" class="form-control" id="InputISBN" placeholder="Enter ISBN">
            </div>
            <div class="form-group">
                <label for="InputAuthor">Search by Author</label>
                <input type="text" class="form-control" id="InputAuthor" placeholder="Enter author name">
            </div>
            <button type="submit" class="btn btn-primary" href="@Url.Action("List", "Book", new { })">Search</button>
        </form>*@
    </div>

    <div class="col-md-4 col-md-offset-2">
        <h2>Add</h2>
        <p>Add a new book.</p>

        <p>
            <a class="input-group"></a>
            <a class="btn btn-primary" href="@Url.Action("Create", "Book")">Start adding</a>
        </p>
    </div>

</div>
